[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Ecommerce Website
[access "refs/*"]
	owner = group user/aahocuisine
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/aahocuisine
	label-Verified = -1..+1 group user/aahocuisine
	push = group user/aahocuisine
	read = group user/aahocuisine
	rebase = group user/aahocuisine
	removeReviewer = group user/aahocuisine
	submit = group user/aahocuisine
[access "refs/heads/*"]
	create = group user/aahocuisine
	push = +force group user/aahocuisine
	pushMerge = group user/aahocuisine
	read = group user/aahocuisine
[access "refs/tags/*"]
	push = group user/aahocuisine
	push = +force group user/aahocuisine
